---
import Layout from '../components/Layout.astro';
---

<Layout
        title="About Me"
>
    <div style="text-align: center">
    <img src="/timo.png" alt="Timo" class="rounded-full h-24 w-24 mx-auto" />
    </div>
</Layout>
